.friends {
    padding: 64px 0;
}

.friend-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100vh - 128px);
}

.friend-list__item {
    width: calc(100% - 32px);
    height: 4rem;
    padding: 8px 16px;
    border-bottom: solid 1px #888;
    position: relative;
}

.friend-list__item:first-child {
    border-top: solid 1px #888;
}

.friend-list__link {
    display: block;
    text-transform: none;
    color: #000;
}

.friends__list-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
}

.friend-list__usericon {
    position: absolute;
    height: calc(4rem - 16px);
    width: calc(4rem - 16px);
    border: solid 3px #000;
    border-radius: 50%;
    float: left;
    object-fit: cover;
    z-index: -1;
}

.friend-list__username {
    font-size: 1.2rem;
    width: calc(100% - 4rem - 8px);
    margin: 0 0 0 auto;
}

.friend-list__talk {
    width: calc(100% - 4rem - 8px);
    margin: 1rem 0 1rem auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #888;
}

.friend-list_content {
    max-width: calc(100% - 2.4rem - 16px);
    margin: auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.friend-list__time {
    width: 2.4rem;
    margin: auto 0;
}

header {
    position: fixed;
    background-color: #eee;
}

.footer-container {
    background-color: #eee;
}