.login-error-message {
    width: 100vw;
    height: 1rem;
    margin-top: 4vh;
    text-align: center;
}

.login-form {
    width: 92vw;
    height: calc(84vh - 64px);
    margin-top: 4vh;
    padding: 0 4vw;
}

.login-form__username {
    text-align: center;
}

.login-form__password {
    text-align: center;
}

.login-form__submit {
    display: block;
    width: 30%;
    text-align: center;
    margin: 1rem auto;
    padding: 2% 0%;
    border-radius: 10px;
    border: solid 1px #9b9b9b;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
}