{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/edit.css' %}" />
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header-container">
            <div class='back'><a href='{% url "setting" %}' class='back-button'>＜</a></div>
            <div class='title'>
                メールアドレス変更
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class='container'>
<div>
    {% for emailaddress in user.emailaddress_set.all %}
    {% if emailaddress.verified %}
    <p>登録されているメールアドレス</p>
    <p>{{ emailaddress.email }}</p>
    {% else %}
    <p>未確認のメールアドレス</p>
    <form action="{% url 'account_email' %}" method="post" >
        {% csrf_token %}
        <input type="text" readonly name="email" value="{{emailaddress.email}}" class='form-control'/>
        <p>
            メールアドレスを変更する場合は、上記メールアドレス宛に送信されたメールをご確認ください。
            メールが届いていない場合は、「確認メールを再送する」ボタンをクリックしてください。			
        </p>
        <button type="submit" name="action_send" class='submit-button' style='font-size: 10px;'>
        確認メールを再送する</button>
        <button type="submit" name="action_remove" class='submit-button'style='font-size: 10px;'>
            削除</button>
    </form>
    {% endif %}
    {% endfor %}
</div>
    {% if can_add_email %}
    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        <div>
            <input type="email" name="email" placeholder="新しいメールアドレス" required="" id="id_email" class='form-control'>
        </div>
        <p>メールアドレスを所有していることを確認するためにメールが送信されます。確認が完了するとメールアドレスが更新されます。</p>
        {% for error in form.errors.email %}
        <p>{{ error }}</p>
        {% endfor %}
        <button name="action_add" type="submit" class='submit-button' style='font-size: 10px;'>
            確認メールを送信</button>
    </form>
    {% else %}
    <p>変更する場合は、未確認となっているメールアドレスを削除してください。</p>
    {% endif %}
</div>

{% endblock %}


    {% block footer %}{% endblock %}