{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
 <link rel="stylesheet" href="{% static 'myapp/css/talk_room.css' %}">
{% endblock %}

{% block header_title %}{{ friend.username }}{% endblock %}

{% block talk_room %}
<a href="{% url 'friends' %}" class="talk_room__back-btn">
    <i class="fas fa-angle-left"></i>
</a>
<a href="" class="talk_room__reload">更新</a>
{% endblock %}

{% block content %}
<div class="talk_room">

    <ul class="chatboard" id="chatboard">
        
        {% for talk in talk %}
            <li class="chatboard__content chatboard__content--{% if talk.talk_from == user %}user{% else %}friend{% endif %}">
                <p class="chatboard__name">{{ talk.talk_from }}</p>
                <p class="chatboard__text">{{ talk.talk }}</p>
                <p class="chatboard__time">{{ talk.time|date:"m/d" }}<br>{{ talk.time|date:"H:i" }}</p>
            </li>
        {% endfor %}
    </ul>

    <form class="talk_room__sendbox" method="POSt">
        {% csrf_token %}
        {{ form.talk }}
        <button class="talk_room__sendbox-btn" type="submit">送信</button>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const chatboard = document.getElementById("chatboard");
        window.scroll(0, chatboard.scrollHeight);
    });
</script>
{% endblock %}