{% extends "myapp/base.html" %}

{% block header_title %}アイコン変更{% endblock %}

{% block content %}
<form method="POST" action="{% url 'user_img_change' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                現在の画像
                <br>
                {% if user.icon %}
                <img src="{{ user.icon.url }}" alt="" width="100">
                {% else %}
                なし
                {% endif %}
            </td>
        </tr>
    </table>
    <button type="submit">変更</button>
    {% if form.errors %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
</form> 
{% endblock %}